<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>blue-on-green</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>blue-on-green</string>
                </array>
                <key>CFBundleIconName</key>
                <string>blue-on-green</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>blue-on-red</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>blue-on-red</string>
                </array>
                <key>CFBundleIconName</key>
                <string>blue-on-red</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>blue-on-white</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>blue-on-white</string>
                </array>
                <key>CFBundleIconName</key>
                <string>blue-on-white</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>green-on-blue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>green-on-blue</string>
                </array>
                <key>CFBundleIconName</key>
                <string>green-on-blue</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>green-on-red</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>green-on-red</string>
                </array>
                <key>CFBundleIconName</key>
                <string>green-on-red</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>green-on-white</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>green-on-white</string>
                </array>
                <key>CFBundleIconName</key>
                <string>green-on-white</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>red-on-blue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>red-on-blue</string>
                </array>
                <key>CFBundleIconName</key>
                <string>red-on-blue</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>red-on-green</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>red-on-green</string>
                </array>
                <key>CFBundleIconName</key>
                <string>red-on-green</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>white-on-blue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>white-on-blue</string>
                </array>
                <key>CFBundleIconName</key>
                <string>white-on-blue</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>white-on-green</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>white-on-green</string>
                </array>
                <key>CFBundleIconName</key>
                <string>white-on-green</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>white-on-red</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>white-on-red</string>
                </array>
                <key>CFBundleIconName</key>
                <string>white-on-red</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>red-on-white</string>
            </array>
            <key>CFBundleIconName</key>
            <string>red-on-white</string>
        </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>blue-on-green</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>blue-on-green</string>
                </array>
                <key>CFBundleIconName</key>
                <string>blue-on-green</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>blue-on-red</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>blue-on-red</string>
                </array>
                <key>CFBundleIconName</key>
                <string>blue-on-red</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>blue-on-white</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>blue-on-white</string>
                </array>
                <key>CFBundleIconName</key>
                <string>blue-on-white</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>green-on-blue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>green-on-blue</string>
                </array>
                <key>CFBundleIconName</key>
                <string>green-on-blue</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>green-on-red</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>green-on-red</string>
                </array>
                <key>CFBundleIconName</key>
                <string>green-on-red</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>green-on-white</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>green-on-white</string>
                </array>
                <key>CFBundleIconName</key>
                <string>green-on-white</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>red-on-blue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>red-on-blue</string>
                </array>
                <key>CFBundleIconName</key>
                <string>red-on-blue</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>red-on-green</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>red-on-green</string>
                </array>
                <key>CFBundleIconName</key>
                <string>red-on-green</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>white-on-blue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>white-on-blue</string>
                </array>
                <key>CFBundleIconName</key>
                <string>white-on-blue</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>white-on-green</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>white-on-green</string>
                </array>
                <key>CFBundleIconName</key>
                <string>white-on-green</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>white-on-red</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>white-on-red</string>
                </array>
                <key>CFBundleIconName</key>
                <string>white-on-red</string>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>red-on-white</string>
            </array>
            <key>CFBundleIconName</key>
            <string>red-on-white</string>
        </dict>
    </dict>
</dict>
</plist>
